.footer {
    background: #004494;
    height: auto;
    padding: 0 3%;
}
.footer-section {
    display: flex;
}

.section {
    width: 33.33%;
    padding: 1rem;
}

.title {
    font: normal normal 400 1rem/1.5rem arial,sans-serif;
    font-weight: 700;
    color: white;
}

.description {
    color: #d8e2ee;
    font: normal normal 400 0.875rem/1.25rem arial,sans-serif;
}
.listHeader {
    font: normal normal 400 1rem/1.5rem arial,sans-serif;
    font-weight: 700;
    color: white;
    border-bottom-width: 2px;
    border-bottom: 1px solid #dde1e6;
    padding-bottom: 0.5rem;
}

.listUl {
    font-size: .875rem;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding-inline-start: 0;
    color: white;
}

.footer__divider {
    border-top: 1px solid #dde1e6;
}
li {
    list-style: none;
}