# #########################################################################################################
# Create three environmane files containing the variables beloow:
# .env - picked-up by default on 'docker compose build' and 'docker compose up'
# .env.dev - required by development 'docker compose -f docker-compose.yml -f docker-compose-dev.yml build'
# #########################################################################################################

#http and https proxies, blank for none
HTTP_PROXY=
HTTPS_PROXY=
# no proxy for docker containers
NO_PROXY="seta-es,seta-data,seta-mongo,seta-api,seta-nginx,seta-ui,seta-ui-react,seta-auth"

##### Seta-UI variables  ####
# Administrators emails - separated by semicolon
ROOT_USERS="email1@domain;email2@domain"

# Secret key for the flask server used to envrypt the cookies and JWT access tokens
# you generate a new private key in python with 'secrets.token_hex(16)' from 'python-secrets' package
API_SECRET_KEY=generate-me

#GitHub client id for registered Seta application at https://github.com/settings/applications 
GITHUB_CLIENT_ID=
#Seta GitHub application secret
GITHUB_CLIENT_SECRET=

#### Docker services  #######

# ElasticSearch hostname and port
ES_HOST="seta-es:9200"

# Database hostname - seta-mongo service
DB_HOST=seta-mongo
# Database port - mongodb default port
DB_PORT=27017

# Database name of the web application
DB_NAME=seta


# #######################################################################
# .env.test
# docker compose -f docker-compose-test.yml --env-file .env.test build
# #######################################################################

#NO_PROXY="seta-es-test,seta-data-test,seta-mongo-test,seta-api-test,seta-nginx-test,seta-ui-test,seta-ui-react-test"
#ROOT_USERS=
#API_SECRET_KEY=not_used
#GITHUB_CLIENT_ID=not_used
#GITHUB_CLIENT_SECRET=not_used
#ES_HOST="seta-es-test:9200"
#DB_HOST=seta-mongo-test
#DB_PORT=27017
#DB_NAME=seta-test