.page {
    min-height: 31rem;
    height: auto;
    text-align: -webkit-center;
    text-align: -moz-center;
    padding: 2rem;
}
.tab {
    padding-block-start: 2rem;
    /* padding: 2rem; */
}
.list {
    /* width: 95%; */
    margin-right: 0;
}

.datatable-rowexpansion {
    text-align: -webkit-right;
    text-align: -moz-right;
}

.table-header-container {
    text-align: left;
}
.page-sections {
    padding: 2rem 0 2rem 0;
    width: 100%;
}
@media (min-width: 1024px), print {
    .tab-filters {
        width: -webkit-fill-available;
        width: -moz-available;
        margin-left: 2%;
    }
    .page-sections {
        display: inline-flex;
    }
}
@media (max-width: 912px) , print {
    .tab-filters {
        width: 60%;
        margin-left: 2%;
    }
    .page-sections {
        display: -webkit-box;
        display: -moz-box;
    }
}
@media (max-width: 540px) , print {
    .page-sections {
        display: block;
    }
}
.table-filters {
    /* border: 1px solid #3B82F6; */
    width: 40%;
    box-shadow: 0 1px 2px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 13%);
    border-radius: 6px;
    padding: 2px;
    width: auto;
}

.tab-filter > .card > .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
    width: 50%;
}
/* button > .pi-user {
    color: white !important;
} */

.pi-power-off {
    color: white !important;
}

.pi-sign-in {
    color: white !important;
}

.p-tabview-panels {
    text-align: left;
}

.tab-filter > .card > .p-tabview .p-tabview-nav-container .p-tabview-panels {
    padding: 0.25rem 1.25rem;
    text-align: left;
}

.p-breadcrumb ul li:last-child .p-menuitem-text {
    color: #acafb2 !important;
    cursor: context-menu;
}
.select>.p-button>.p-button-label.p-c {
    font-weight: normal !important;
}
.select>.p-highlight>.p-button-label.p-c {
    font-weight: 700 !important;
}

.switchButton {
    float: left;
    display: -webkit-inline-box;
    display: -moz-inline-box;
}

.search_all {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    width: 100%;
}

.p-inputswitch {
    margin-top: 15px;
    margin-left: 10px;
}
.p-component, .p-component * {
    box-sizing: border-box;
}
.p-tree {
    /* border: 1px solid #dee2e6; */
    background: #ffffff;
    color: #495057;
    padding: 1.25rem;
    border-radius: 6px;
}
.p-component {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: normal;
}
.p-component, .p-component * {
    box-sizing: border-box;
}
.tree-panel {
    border: 0 !important;
    overflow-y: scroll;
    max-height: 300px;
}
.p-listbox {
    border: none !important;
}
.overlay_panel > .p-overlaypanel-content > .p-listbox .p-listbox-list {
    height: 200px;
}
/* .overlaypanel > .p-overlaypanel-content > .p-listbox .p-listbox-list {
    height: 200px;
} */
.p-tree {
    padding: 0;
}
/* .p-tree .p-treenode-children {
    display: inline-flex;
} */
.p-tree-container {
    width: -webkit-fill-available;
    width: -moz-available;
    overflow-x: unset;
    overflow: initial !important;
}

input[type=search]:after{
	content:attr(data-text);
	color:blue;
	transform:translateX(-100%);
	position:absolute;
}

.file-custom {
    background-color: #3B82F6 !important;
    color: white !important;
}

.file {
    width: 100%;
}

h1:after{
	content:attr(data-text);
	color:blue;
	transform:translateX(-100%);
	position:absolute;
}

#ontologyInput::after {
    content: attr(data-text);
    color:blue;
}

.ellipsis-v {
    color: #3B82F6 !important;
    background-color: white !important;
}

.overlayPanelBody {
    padding-bottom: 1%;
    display: inline-flex;
    width: 100%;
}

.div-size-1 {
    width: 30%;
    border-right: 1px solid black;
}

.div-size-button {
    width: 30%;
}
.div-size-2 {
    width: 70%;
}

.alingItems {
    width: 70%;
    display: -webkit-inline-box;
}

.custom {
    border-radius: 16px !important;
    padding: 0.4rem 0.75rem !important;
    left: 5px;
}

.custom-thumb {
    border: none !important;
    margin-right: 10px !important;
}

.suggestions-list .p-button {
    margin-right: 1% !important;
    margin-top: 1% !important;
}

.suggestions-list .p-button:first-of-type {
    border-radius: 25px !important;
}

.suggestions-list .p-button:not(:first-of-type):not(:last-of-type) {
    border-radius: 25px !important;
}

.suggestions-list .p-button:not(:last-child) {
    border-right: 1px solid #ced4da !important;
}

.suggestions-list .p-button:last-of-type {
    border-radius: 25px !important;
    border-radius: 25px !important;
}

.suggestions-list .p-button {
    padding: 0.3rem 0.75rem !important;
}

.suggestions-list .p-c {
    font-weight: normal !important;
}

/* .alingItems .p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover {
    color: rgb(92, 150, 221) !important;
}

.alingItems .p-togglebutton.p-button:not(.p-disabled):not(.p-highlight) {
    color: rgb(92, 150, 221) !important;
} */

.search_dropdown {
    text-align: right;
    padding-right: 3%;
}

.overlayPanelHeader {
    border-bottom: 1px solid #ced4da;
    display: inline-flex;
    width: 100%;
}

.highlight-text {
    font-weight: 700;
}

.dataTable-list .p-selectbutton {
    text-align: left !important;
}

.dataTable-list {
    overflow-y: scroll;
    max-height: 300px;
}

.dataTable-list .pi-check:before {
    content: none !important;
}

.dataTable-list .suggestions-list .p-button {
    padding: 0.2rem 0.65rem !important;
}

.dataTable-list .p-checkbox-box {
    border-radius: 50% !important;
}

.similars .p-selectbutton {
    text-align: -webkit-left;
    text-align: -moz-left;
}

.overlay_panel .p-overlaypanel-close {
    top: 0.05rem !important;
    right: 0.05rem !important;
}

.dataTable-list .p-datatable-thead {
    display: none !important;
}

.overlayPanelBody .card {
    padding-top: 3%;
}

.overlayPanelBody .suggestions-list {
    text-align: left;
}

.overlayPanelBody .div-size-1 .p-button {
    margin-bottom: 2%;
}