<div class="homeContainer">


  <!-- <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <img class="site-title"
        src="../../../assets/seta-icon.png">
    </div>
  </div> -->

  <!-- <div class="row justify-content-md-center">
      <div class="col-md-8 form-container">
        <form (ngSubmit)="saveFile$.next($event)" autocomplete="off"
          [formGroup]="setaForm" accept-charset="utf-8">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control shadow-none"
              id="search-input-id" data-toggle="dropdown"
              formControlName="searchTerm" (click)="$event.stopPropagation()"
              (keydown)="focusInShow($event)"
              
              placeholder="What're you searching for?"
              aria-label="What're you searching for?"
              aria-describedby="basic-addon2">
            <div class="input-group-append h-grp-append">
              <button [disabled]="!setaForm.valid" id="button-addon5"
                type="submit" class="btn btn-outline-secondary">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
              <ul class="dropdown-menu home-dropdown"
                [ngClass]="suggestions.length > 0 ? 'show' : ''">
                <a class="dropdown-item" type="button"
                  (click)="selectItem($event, suggestion)"
                  (keydown)="selectKey($event)"
                  *ngFor="let suggestion of suggestions"
                  [routerLink]="">{{ suggestion | replace: '[_]':' ' }}</a>
                <div class="row">
                  <div class="col-md-12  d-flex justify-content-center">
                    <ul class="nav nav-pills ">
                      <li class="nav-item">
                        <a data-toggle="pill"
                          (click)="toggleSearchChange('documents')" id="words-tab"
                          href="#documents" role="pill" aria-controls="documents"
                          aria-selected="true"
                          class="nav-link px-3 rounded shadow-sm"
                          [ngClass]="{active: toggleSearch === 'documents'}">Documents</a>
                      </li>
                      <li class="nav-item">
                        <a data-toggle="pill"
                          (click)="toggleSearchChange('words')" id="words-tab"
                          href="#words" role="pill" aria-controls="words"
                          aria-selected="true"
                          class="nav-link px-3 rounded shadow-sm"
                          [ngClass]="{active: toggleSearch === 'words'}">Concepts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </ul>
            </div>
          </div>
  
        </form>
      </div>
    </div> -->

  <!-- <div class="row">
      <div class="col-md-12  d-flex justify-content-center">
        <ul class="nav nav-pills ">
          <li class="nav-item">
            <a data-toggle="pill" (click)="toggleSearchChange('documents')"
              id="words-tab" href="#documents" role="pill"
              aria-controls="documents" aria-selected="true"
              class="nav-link px-3 rounded shadow-sm"
              [ngClass]="{active: toggleSearch === 'documents'}">Documents</a>
          </li>
          <li class="nav-item">
            <a data-toggle="pill" (click)="toggleSearchChange('words')"
              id="words-tab" href="#words" role="pill" aria-controls="words"
              aria-selected="true" class="nav-link px-3 rounded shadow-sm"
              [ngClass]="{active: toggleSearch === 'words'}">Concepts</a>
          </li>
        </ul>
      </div>
    </div> -->


  <div class="row">
    <div class="col-md-12">
      <div class="intro">
        <div class="jumbotron text-center">
          <h1 class="h1">Tired of combing through piles of
            documents?</h1>
          <h1 class="h1">We can help.</h1>
          <div class="dropdown-divider" pt-3 pb-3></div>
          <p class="lead">Welcome to SeTA, discover and link knowledge in EU documents</p>
          <!-- the Information
            Retrieval Tool for
            Policy Makers. -->
          <p class="lead">
            <button *ngIf="user === null" type="button"
              (click)="goToEcas($event, '/seta-ui/login')"
              class="ecl-button ecl-button--call rounded"><span
                class="ecl-button__container"><span
                  class="ecl-button__label"
                  data-ecl-label="true">Log
                  in</span></span></button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">The problem</h1>
          <p class="lead text-muted mb-0">Much of the world's
            data is textual – in large document archives, in
            scientific papers, in scattered websites, in social
            media.</p>
          <p class="lead text-muted">The information contained in
            text is invaluable and yet hard to access.</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <img src="../seta-ui/assets/undraw_analysis_4jis.svg"
            alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i
            class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">The challenge</h2>
          <p class="font-italic text-muted mb-0">
            The mission of the JRC is to provide scientific
            support to policy development, through original and
            applied research and knowledge management.</p>
          <p class="font-italic text-muted mb-4">The challenges
            of accessing information "trapped in text" are very
            relevant to this mission of the JRC, as timely,
            relevant information is needed at all stages
            of the policy development process.</p><a
            (click)="goToLink($event, 'https://ec.europa.eu/jrc/sites/jrcsh/files/jrc-strategy-2030_en.pdf')"
            href="#"
            class="btn btn-light px-5 rounded-pill shadow-sm">Learn
            More on JRC Strategy 2030</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
          <img
            src="../seta-ui/assets/undraw_setup_analytics_8qkl.svg"
            alt="" class="img-fluid mb-4 mb-lg-0">
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img
            src="../seta-ui/assets/undraw_detailed_analysis_xn7y.svg"
            alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i
            class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">The solution: SeTA</h2>
          <p class="font-italic text-muted mb-4">To help overcome
            these challenges, the JRC has produced a new tool,
            SeTA – Semantic Text Analyser – which applies
            advanced text analysis techniques
            to large document collections, helping policy
            analysts to understand the
            concepts expressed in thousands of documents and to
            see in a visual manner the
            relationships between these concepts and their
            development over time.</p><a
            (click)="goToLink($event, 'https://ec.europa.eu/jrc/en/publication/semantic-text-analysis-tool-seta')"
            href="#"
            class="btn btn-light px-5 rounded-pill shadow-sm">Learn
            More about SeTA inner works</a>
        </div>
      </div>
    </div>
  </div>
</div>