

<header>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top seta-nav ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse"
                id="navbarSupportedContent">
                <ul id="navbar" class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="javascript:void(0);"
                            [routerLink]="['home']"
                            routerLinkActive="active"
                            class="nav-link active">
                            <div class="logo mr-3">
                                <img style="width: 100%; height: 100%;"
                                src="../seta-ui/assets/seta-logopayoff-negative.png" >
                                    <!-- src="../seta-ui/assets/seta-logopayoff-negative.png" -->
                            </div>
                            <!-- <fa-icon [icon]="faHome"></fa-icon> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- *ngIf="user !== null" -->
                        <a class="nav-link" *ngIf="user !== null"
                            [routerLink]="['corpus']"
                            routerLinkActive="active"
                            href="javascript:void(0);">Search</a>
                    </li>
                    <li class="nav-item">
                        <!-- *ngIf="user !== null" -->
                        <a href="javascript:void(0);"
                            *ngIf="user !== null"
                            [routerLink]="['findall']"
                            routerLinkActive="active"
                            class="nav-link"
                            data-ecl-menu-link="true">Concepts</a>
                    </li>

                    

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link"
                            routerLinkActive="active"
                            href="javascript:void(0);"
                            [routerLink]="['about']"
                            data-ecl-menu-link="true">Contacts</a>
                    </li>
                </ul>

            </div>
            <div class="d-flex">
                <app-login>
                </app-login>
                <!-- (isRsaKeyBeingGenerated)="onIsLoading($event)" -->

                <!-- <a class=" nav-link dropdown-toggle"
                    href="#" id="navbarDropdownMenuLink"
                    role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                    </a>
                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                            href="#">Action</a>
                        <a class="dropdown-item" href="#">Another
                            action</a>
                        <a class="dropdown-item"
                            href="#">Something else here</a>
                    </div> -->

            </div>
        </div>
    </nav>
</header>