<div class="card updates d-flex shadow-sm rounded">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h2 class="h4">
			<a data-toggle="collapse" data-parent="#similar-terms" href="#terms-box"
				aria-expanded="true" aria-controls="terms-box">Most similar concepts</a>
		</h2>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item d-flex justify-content-between" *ngFor="let vertex of vertexes$ | async"
			(click)="similar(vertex.similarWord)">
			<div class="left-col d-flex">
				<div class="icon">
					<fa-icon [icon]="faSearch"></fa-icon>
				</div>
				<div class="title">
					{{ vertex.similarWord }}
				</div>
			</div>
			<div class="right-col text-right">
				<div class="update-date">{{ vertex.similarity }}</div>
			</div>
		</li>
	</ul>
</div>