<form (ngSubmit)="saveFile$.next($event)" autocomplete="off"
	[formGroup]="setaForm" accept-charset="utf-8">
	<div class="input-group input-group-lg">
		<input type="text" class="form-control shadow-none" id="search-input-id"
			data-toggle="dropdown" formControlName="searchTerm"
			(click)="$event.stopPropagation()" (keydown)="focusInShow($event)"
			placeholder="What're you searching for?"
			aria-label="What're you searching for?" aria-describedby="basic-addon2">
		<div class="input-group-append h-grp-append">
			<button [disabled]="!setaForm.valid" id="button-addon5" type="submit"
				class="btn btn-outline-secondary">
				<fa-icon [icon]="faSearch"></fa-icon>
			</button>
			<ul class="dropdown-menu home-dropdown"
				[ngClass]="suggestions.length > 0 ? 'show' : ''">
				<a class="dropdown-item" type="button"
					(click)="selectItem($event, suggestion)" (keydown)="selectKey($event)"
					*ngFor="let suggestion of suggestions"
					[routerLink]="">{{ suggestion | replace: '[_]':' ' }}</a>
			</ul>
		</div>
	</div>

</form>
