

<div>
  <!-- <button class="btn searchbar-info" (click)="createFolder()">
    <fa-icon [icon]="faFolderPlus"></fa-icon>
  </button>
  <button class="btn searchbar-info" (click)="createLeaf()">
    <fa-icon [icon]="faSave"></fa-icon>
  </button> -->
  <tree-root #tree2 class="userTree" [nodes]="nodeItems"
    (updateData)="saveTree($event)" [options]="options">
    <ng-template #treeNodeFullTemplate let-node let-index="index"
      let-templates="templates">
      <div [class.tree-node]="true"
        [class.tree-node-active]="node.isActive"
        [class.tree-node-focused]="node.isFocused">

        <tree-node-drop-slot *ngIf="index === 0"
          [dropIndex]="node.index" [node]="node.parent">
        </tree-node-drop-slot>

        <div class="node-wrapper"
          [class.tree-node-folder]="node.data.isDirectory"
          [class.tree-node-leaf]="!node.data.isDirectory"
          [class.tree-node-expanded]="node.data.isDirectory && node.isExpanded"
          [class.tree-node-collapsed]="node.data.isDirectory && !node.isExpanded"
          [class.tree-node-expanded-special]="node.data.isDirectory && node.data.isExpanded"
          [class.tree-node-collapsed-special]="node.data.isDirectory && !node.data.isExpanded"
          (click)="node.mouseAction('click', $event)">
          <tree-node-expander [node]="node"
            (click)="node.mouseAction('expanderClick', $event)">
          </tree-node-expander>
          <div class="node-content-wrapper"
            [class.node-content-wrapper-active]="node.isActive"
            [class.node-content-wrapper-focused]="node.isFocused"
            (treeDrop)="node.onDrop($event)"
            [treeAllowDrop]="node.allowDrop" [treeDrag]="node"
            [treeDragEnabled]="node.allowDrag()">
            <span>{{ node.data.name }}</span>
            <button *ngIf="node?.data?.name !== 'My queries'"
              (click)="open(node)"
              class="btn btn-outline-secondary searchbar-info">
              <fa-icon [icon]="faMinusSquare"></fa-icon>
            </button>
            <button *ngIf="node.data.isDirectory" (click)="createFolder(node)"
              class="btn btn-outline-secondary searchbar-info">
              <fa-icon [icon]="faFolderPlus"></fa-icon>
            </button>
            <button *ngIf="node.data.isDirectory" (click)="createLeaf(node)"
              class="btn btn-outline-secondary searchbar-info">
              <fa-icon [icon]="faSave"></fa-icon>
            </button>
          </div>
        </div>

        <tree-node-children [node]="node"
          [templates]="templates">
        </tree-node-children>
        <tree-node-drop-slot [dropIndex]="node.index + 1"
          [node]="node.parent">
        </tree-node-drop-slot>
      </div>
    </ng-template>


    <!-- <ng-template #treeNodeTemplate let-node>
      <span>{{ node.data.name }}</span>
      <button *ngIf="node?.data?.name !== 'My queries'"
        (click)="delete(node)" class="btn searchbar-info">
        <fa-icon [icon]="faMinusSquare"></fa-icon>
      </button>
      <button class="btn searchbar-info" *ngIf="node?.data?.isDirectory"
        (click)="createFolder(node)">
        <fa-icon [icon]="faFolderPlus"></fa-icon>
      </button>
      <button class="btn searchbar-info" *ngIf="node?.data?.isDirectory"
        (click)="createLeaf(node)">
        <fa-icon [icon]="faSave"></fa-icon>
      </button>
    </ng-template> -->
  </tree-root>
  <!-- <tree-root id="tree2" [focused]="true" [nodes]="nodeItems"
    (updateData)="saveTree($event)">
    <ng-template #treeNodeFullTemplate let-node let-index="index"
      let-templates="templates">
      <div class="tree-node">

        <div class="node-content-wrapper"
          [class.node-content-wrapper-active]="node.isActive"
          [class.node-content-wrapper-focused]="node.isFocused"
          >

          <div class="icon-action"
            *ngIf="node && node.data && node.data.isDirectory">
            <tree-node-expander [node]="node">
            </tree-node-expander>
          </div>

          <div class="name" (click)="toggle(node)" >
            {{ node.data.name }}
          </div>
          <div class="icon-action"
            *ngIf="node?.data?.name && !node?.parent?.data?.virtual && node?.data?.name !== 'My queries'"
            (click)="delete(node)">
            <img src="./assets/circle-xmark.svg" class="delete">
          </div>
          <div class="icon-action" *ngIf="node?.data?.name && !node?.parent?.data?.virtual && node?.data?.name !== 'My queries'"
            (click)="moveUp(node)">
            <img src="./assets/arrow-alt-circle-up.svg">
          </div>
          <div class="icon-action" *ngIf="node?.data?.name && !node?.parent?.data?.virtual && node?.data?.name !== 'My queries'"
            (click)="moveDown(node)">
            <img src="./assets/arrow-alt-circle-down.svg">
          </div>
          <div class="icon-action" *ngIf="!node?.data?.name"
            (click)="createFolder(node)">
            <img src="./assets/folder-plus2.svg">
          </div>
          <div class="icon-action" *ngIf="!node?.data?.name"
            (click)="createLeaf(node)">
            <img src="./assets/save.svg">
          </div>

        </div>


        <tree-node-children [node]="node"
          [templates]="templates">
        </tree-node-children>

      </div>
    </ng-template>
  </tree-root> -->
</div>