p {
    padding-bottom: 1.5rem;
}
.publicKey {
    width: 100%;
    display: flex;
}
.p-button-icon {
    padding-right: inherit;
}

.card {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: inherit;
}