<div id="wiki-pages" class="card updates d-flex shadow-sm rounded">
	<div id="updates-header"
		class="card-header d-flex justify-content-between align-items-center">
		<h2 class="h4">
			<a data-toggle="collapse" data-parent="#wiki-pages" href="#wikis-box"
				aria-expanded="true" aria-controls="wikis-box">
				Wiki pages
			</a>
		</h2>
	</div>
	<div id="wikis-box" role="tabpanel" class="collapse show">
		<ul class="list-group list-group-flush">
			<!-- Item-->
			<li *ngFor="let doc of wikiDocuments$ | async"
				class="list-group-item d-flex justify-content-between">
				<div class="left-col d-flex">
					<div class="icon">
						<fa-icon [icon]="faWikipediaW"></fa-icon>
					</div>
					<div class="title">
						<strong>{{ doc.id }}</strong>
					</div>
				</div>
				<div class="right-col d-flex">
					<div class="icon external-link" (click)="goToWiki(doc.id)">
						<fa-icon [icon]="faExternalLinkSquareAlt"></fa-icon>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>